ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  width: 700px;
  margin: 35px auto;
}
